global:
  metadata:
    description: "E2E Test cluster"
    name: "{{ .ClusterName }}"
    organization: "{{ .Organization }}"
  connectivity:
    network:
      controlPlaneEndpoint:
        ipPoolName: "wc-cp-ips"
      loadBalancers:
        ipPoolName: "svc-lb-ips"
        numberOfIps: 1
    baseDomain: test.gigantic.io
  controlPlane:
    replicas: 1
    machineTemplate:
      folder: 'e2e-tests'
      diskGiB: 30
      numCPUs: 4
      memoryMiB: 8196
      network:
        devices:
          - networkName: 'v500-data'
            dhcp4: true
  nodePools:
    worker:
      replicas: 2
      folder: 'e2e-tests'
      diskGiB: 30
      numCPUs: 6
      memoryMiB: 16896
      network:
        devices:
          - networkName: 'v500-data'
            dhcp4: true
